<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.bucheng.shiroboot.mapper.UserRoleMapper">
    <insert id="batchSave" parameterType="userRole">
        insert into user_role(user_id,role_id,create_time,update_time)
        <foreach collection="datas" item="item"  open="values" separator=","  >
            (#{item.userId},#{item.roleId},#{item.createTime},#{item.updateTime})
        </foreach>
    </insert>

</mapper>